@use "../abstracts/mixins" as *;

.slick-dotted {
    padding-bottom: 2rem;
}

.slick-list {
    margin: 0 calc( var(--wp--preset--spacing--10) * -1);
}
.slick-slide,
.wp-block-cb-slide.slick-slide {
    padding: 0 calc( var(--wp--preset--spacing--10) * 1);
}

@media ($below-tablet) {
    .wp-block-group.is-layout-grid.is-grid-slick-mobile {
        display: block;

        .slick-list {
            margin-left: calc( var(--wp--style--root--padding-left) * -1);
            margin-right: calc( var(--wp--style--root--padding-right) * -1);
        }

        .slick-track {
            display: flex;
            align-items: stretch;
        }

        .slick-slide {
            height: inherit;
            padding-left: var(--wp--style--root--padding-left);
            padding-right: var(--wp--style--root--padding-right);
            // margin-top: 3rem;
            // margin-bottom: 6rem;
            min-height: 120px;

            > div {
                height: 100%;
            }
        }

        .slick-dots {
            bottom: 1rem;
        }
    }
}

.slick-dots li {
    margin: 0 2px;

    button:before {
        font-size: .5rem !important;
        color: var(--wp--preset--color--primary) !important;
    }
}

.slick-slider {
    padding-bottom: 3.5rem;

    .slick-arrow {
        width: 2.5rem;
        height: 2.5rem;
        top: auto;
        bottom: 0;
        transform: none;
        z-index: 3;
        border-radius: 50%;
        background-color: var(--wp--preset--color--primary-30) !important;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            font-family: inherit;
            font-size: 1.5rem;
            line-height: 1;
            color: var(--wp--preset--color--neutral-white);
            opacity: 1;
        }

        &.slick-disabled {
            opacity: .5;
        }
    }

    .slick-prev {
        left: auto;
        right: 3rem;
    }

    .slick-next {
        right: 0;
    }
}