@use "../abstracts/mixins" as *;

#hero {
    background-color: var(--wp--preset--color--primary-100);

    @media ( $above-mobile ) {
        min-height: 720px;
    }

    .home & {
        position: relative;
    }

    .single-equipo & {
        height: 45vw;
    }

}

