@use "../abstracts/mixins" as *;

#hero {

    @media ( $above-laptop ) {
        min-height: 720px;
    }

    .home & {
        position: relative;
    }

    .single-equipo & {
        height: 45vw;
    }
    
}

